{% block head %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/modal.js') }}"
            defer>
    </script>
{% endblock %}

<div class="modal modal-lg"
     id="residentsModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="residentsModalLabel"
     aria-hidden="true">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="residentsModalLabel"></h4>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'residents_table.html' %}
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
            Close
        </button>
      </div>
    </div>
  </div>
</div>