
{% if username is not none %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/vote.js') }}"
            defer>
    </script>
{% endif %}

<div id="planetsWrapper">
    <h1>Star Wars universe planets</h1>

    {% if previous_page is none %}
    <a id="previousPageLink">
    {% else %}
    <a id="previousPageLink" href="{{ url_for('route_planets', page=previous_page) }}">
    {% endif %}
        <button id="previousPageButton"
                type="button"
                class="btn btn-primary"
                {% if previous_page is none %}disabled{% endif %}
        >Previous</button>
    </a>

    {% if next_page is none %}
    <a id="nextPageLink">
    {% else %}
    <a id="nextPageLink" href="{{ url_for('route_planets', page=next_page) }}">
    {% endif %}
        <button id="nextPageButton"
                type="button"
                class="btn btn-primary"
                {% if next_page is none %}disabled{% endif %}
        >Next</button>
    </a>

    <table class="table table-primary table-bordered table-responsive-md">
        <thead>
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>

        {% set results = planets['results'] %}
        {% for result in results %}
        <tr>
            <td>{{ result.name }}</td>
            <td>{% if result.diameter != '0' %}
                {{ result.diameter }} km
                {% else %}
                unknown
                {% endif %}
            </td>
            <td>{{ result.climate }}</td>
            <td>{{ result.terrain }}</td>
            <td>{{ result.surface_water}}
                {% if result.surface_water != 'unknown' %}
                %
                {% endif %}
            </td>
            <td>{{ result.population }}
                {% if result.population != 'unknown' %}
                people
                {% endif %}
            </td>
            <td>{% if result.residents|length == 0 %}
                No known residents
                {% else %}
                <button class="btn btn-raised active"
                        type="button"
                        data-toggle="modal"
                        data-target="#residentsModal"
                        data-planet-url="{{ result.url }}"
                        data-planet-name="{{ result.name }}">
                    {{ result.residents|length }} resident(s)
                </button>
                {% endif %}
            </td>
            <td>{% if username is not none %}
                <button type="button"
                        class="btn btn-outline-light active voteButton"
                        data-planet-id="{{ result.url[-2:-1] }}"
                        data-planet-name="{{ result.name }}">Vote</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
